fastapi
uvicorn
starlette
jinja2
aiofiles
python-multipart
itsdangerous
pydantic
twilio
redis
python-dotenv
groq
langchain
openai
requests
werkzeug
anthropic
elevenlabs
openapi-spec-validator
openapi-python-client
PyYAML
cryptography